.notice {
    background: white;
    padding: 20px;
    margin-top: 15px;
    border-left: 5px solid #6c63ff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.notice h4 {
    margin-bottom: 8px;
}

.notice span {
    font-size: 12px;
    color: gray;
}
